@import '../../../Styles/responsive.scss';

.wrapper-order {
  height: auto;
  .empty-order {
    text-align: center;
    h3 {
      padding: 10px 0;
      font-weight: 400;
      font-size: 1.2rem;
    }
    p {
      font-size: 1rem;
      text-transform: uppercase;
      a {
        color: #000;
        font-weight: 300;
        text-decoration: underline;
      }
    }
  }
  .order-item {
    .product-item {
      display: flex;
      column-gap: 20px;
      border-bottom: 1px solid #3333;
      .image-product {
        width: 110px;
        height: 120px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          mix-blend-mode: darken;
        }
      }
      .info-product {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .info {
          p {
            font-size: 1rem;
            font-weight: 400;
            margin: 0;
          }
        }
        .action {
          button {
            background-color: #fff;
            color: #000;
            border: 1px solid #000;
            padding: 5px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.3s;
            margin-bottom: 8px;
            &:hover {
              border: none;
              color: #fff;
              background-color: #000;
            }
          }
        }
      }
    }
  }
}
