.wrapper-fashion-page {
  .group-btn {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
    .btn-add-banner {
      background-color: blue !important;
      color: #fff;
      border: none;
      &:hover {
        color: #fff;
        background-color: rgb(36, 36, 192) !important;
        scale: initial !important;
      }
    }
  }
  // căn giữa các cột trong bảng
  .ant-table-thead {
    tr {
      .ant-table-cell {
        padding: 14px 16px;
        text-align: center;
      }
    }
  }
  // căn giữa các dòng trong bảng
  .ant-table-cell {
    text-align: center;
  }
}
.ant-pagination {
  margin-top: 10px;
  text-align: end;
}

.wrapper-modal-edit-product {
  .body {
    display: flex;
    width: 100%;
    .group-form-input,
    .group-form-select {
      width: 50%;
    }
    .form {
      margin: 10px 0;
      .image-item {
        display: inline-block;
        .render_add-new-product {
          width: 100px;
          height: 100px;
          margin: 0 5px;
        }
      }
      label {
        font-size: 0.9rem;
        display: block;
      }
      input,
      select,
      textarea {
        width: 90%;
        height: 30px;
        border-radius: 5px;
        border: 1px dotted #9b9898;
        display: block;
        padding: 0 5px;
        &:focus {
          outline: 1px solid blue;
          border: none;
        }
      }
      textarea {
        height: 100px;
        resize: none; /* Ngăn chặn người dùng thay đổi kích thước */
      }
    }
    &-group-btn {
      display: flex;
      justify-content: end;
      .btn-add-product {
        background-color: blue !important;
        border: none;
        color: #fff;
        &:hover {
          color: #fff !important;
          scale: 1.1 !important;
        }
      }
    }
  }
}
