@import '../../../Styles/responsive.scss';

.wrapper-order-success {
  height: auto;
  @media (max-width: $xs-max-width) {
    margin-top: 25px;
  }
  .empty-order {
    text-align: center;
    h3 {
      padding: 10px 0;
      font-weight: 400;
      font-size: 1.2rem;
    }
    p {
      font-size: 1rem;
      text-transform: uppercase;
      a {
        color: #000;
        font-weight: 300;
        text-decoration: underline;
      }
    }
  }
  .order-item {
    .product-item {
      display: flex;
      column-gap: 20px;
      border-bottom: 1px solid #3333;
      margin-bottom: 15px;
      @media (max-width: $xs-max-width) {
        align-items: center;
      }
      .image-product {
        width: 110px;
        height: 120px;
        @media (max-width: $xs-max-width) {
          width: 100px;
          height: 100px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          mix-blend-mode: darken;
        }
      }
      .info-product {
        width: 100%;
        display: flex;
        justify-content: space-between;
        @media (max-width: $xs-max-width) {
          flex-direction: column;
        }
        .info {
          .trademark {
            opacity: 0.7;
            padding: 5px 0;
            @media (max-width: $xs-max-width) {
              display: none;
            }
          }
          p {
            font-size: 1rem;
            font-weight: 400;
            margin: 0;
            @media (max-width: $xs-max-width) {
              font-size: 0.9rem;
            }
          }
        }
        .action {
          p {
            font-size: 0.9rem;
            opacity: 0.7;
            margin-bottom: 20px;
            text-transform: uppercase;
            @media (max-width: $xs-max-width) {
              margin-bottom: 0;
              padding: 2px 0;
            }
          }
          button {
            background-color: #fff;
            color: #000;
            border: 1px solid #000;
            padding: 5px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.3s;
            margin-bottom: 8px;
            @media (max-width: $xs-max-width) {
              padding: 2px 15px;
            }
            &:hover {
              border: none;
              color: #fff;
              background-color: #000;
            }
          }
        }
      }
    }
  }
}
